.Recipes {
  width: 95%;
  font-weight: 300;
  margin: 0 auto;
  h3 {
    margin: 1rem 1rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  .RecipesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) {
  .Recipes {
    overflow: hidden;
    h3 {
      margin: 1rem;
      font-size: 2rem;

      position: fixed;
    }
    .RecipesContainer {
      justify-content: flex-start;
      margin-top: 4rem;
      position: relative;
      height: 70vh;
      overflow: auto;
    }
    .RecipeModal {
      .Details {
        height: 400px;
        overflow: auto;
        ul {
          margin: .5rem 0;
          li {
            font-size: .9rem;
            line-height: 1.2rem;
          }
        }
        p {
          font-size: .9rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}